.aboutContainer {
    display: flex;
    flex-direction: column;
    gap: clamp(2rem, 8vw, 6rem);
    margin-bottom: 8rem;
}

.aboutPanel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: clamp(2rem, 8vw, 6rem);

    font-size: clamp(1rem, 4vw, 1.25rem);
}

.aboutContent {
    width: clamp(20rem, 33vw, 40rem);
    line-height: clamp(1.5rem, 3vw, 2rem);
}

.techStackHeader {
    font-size: 1.25rem;
    font-weight: var(--medium);
    font-family: var(--h3-ff);
    margin-bottom: 0.5rem;
}

.skillsList {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    min-width: fit-content;
}

.skillsList li {
    line-height: clamp(1.5rem, 2.5vw, 3rem);
}

.listSlash {
    color: var(--yellow);
    font-weight: var(--semi-bold);
}