.contactContainer {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    padding-bottom: 4rem;
}

.contactDetailsPanel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.contactLinks {
    display: inline-block;
}

.emailLabel {
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: var(--medium);
}

@media (max-width: 768px) {
    .contactDetailsPanel {
        margin-top: 1.25rem;
    }
}