.homeContainer {
  max-width: 100%;
  min-height: 85vh;

  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 4rem;

  font-family: var(--main-ff);

}

.hello {
  font-weight: var(--semi-bold);
  color: var(--yellow);
  line-height: 5rem;
}

.name {
  font-weight: var(--light);
  font-size: clamp(2.5rem, 4.7vw, 5rem);
  line-height: clamp(3rem, 5.2vw, 5.5rem);
  letter-spacing: 10%;
  text-transform: uppercase;
}

.roleIntro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

.role {
  margin-top: clamp(0.5rem, 5vw, 4rem);
}

.role h2 {
  font-size: 1.875rem;
  font-weight: var(--semi-bold);
  line-height: 2.5rem;
}

.jobLevel {
  padding-top: 5rem;
}

.description {
  font-size: 1rem;
  line-height: 1.75rem;
}

.viewProjects {
  height: 2.75rem;
  width: 8.75rem;
  min-width: 4rem;
  max-width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin-top: clamp(2rem, 6.5vw, 6rem);

  color: var(--text-colour);
  border: none;
  background-color: transparent;
  border-bottom: 0.15rem solid var(--purple-accent);
  cursor: pointer;
  text-decoration: none;
  transition: transform 300ms;

}

.rightArrow {
  padding-left: 0.5rem;
}

.viewProjects:hover .rightArrow {
   animation: 750ms ease-in-out infinite normal bounce;
}

@keyframes bounce {
  0%, 100% { transform: translateX(0);}
  50% { transform: translateX(5px);}
}