.homeContainer {
  max-width: 100%;
  min-height: 85vh;

  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 4rem;

  font-family: var(--main-ff);

}

.hello {
  font-weight: var(--semi-bold);
  color: var(--yellow);
  line-height: clamp(3rem, 5.5vw, 5rem);
}

.name {
  font-weight: var(--light);
  font-size: clamp(2.5rem, 4.7vw, 5rem);
  line-height: clamp(3rem, 5.2vw, 5.5rem);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.roleIntro {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 40ch;
}

.role {
  margin-top: clamp(0.5rem, 5vw, 4rem);
}

.role h2 {
  font-size: clamp(1rem, 2vw, 1.875rem);
  font-weight: var(--semi-bold);
  line-height: clamp(1.5rem, 3vw, 2.5rem);
}

.jobLevel {
  padding-top: 5rem;
}

.description {
  font-size: 1rem;
  line-height: 1.75rem;
}

@media (max-width: 768px) {
  .homeContainer {
    min-height: 70vh;
  }
  
  .intro {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .hello {
    font-size: 1rem;
  }

  .homeBtns {
    font-size: 0.85rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .role {
    display: flex;
    justify-content: center;
    margin-top: 0;
    gap: 0.3rem;
 
  }

.jobLevel {
  padding-top: 0;
}

.description {
  text-align: center;
  font-size: 0.85rem;
  line-height: 1.5rem;
}

}