.homeContainer {
  max-width: 100%;
  min-height: 85vh;

  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 4rem;

}

.hello {
  font-weight: var(--semi-bold);
  color: var(--yellow);
  font-family: var(--main-ff);
  line-height: 5rem;
}

.name {
  /* font-size: 4.5rem; */
  font-size: clamp(2rem, 4.5rem, 5rem);
  font-weight: var(--light);
  font-family: var(--main-ff);
  letter-spacing: 10%;
  line-height: 5rem;
  text-transform: uppercase;
}

.roleIntro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;

}

.role {
  margin-top: 4rem;
  font-family: var(--main-ff);

}

.role h2 {
  font-size: 1.875rem;
  font-weight: var(--semi-bold);
  line-height: 2.5rem;
}

.jobLevel {
  padding-top: 5rem;
}

.description {
  font-family: var(--main-ff);
  font-size: 1rem;
  line-height: 1.75rem;
}

.viewProjects {
  height: 2.75rem;
  min-width: 2rem;
  max-width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;

  color: var(--text-colour);
  border: none;
  background-color: transparent;
  border-bottom: 0.15rem solid var(--purple-accent);
  cursor: pointer;
  text-decoration: none;
  transition: transform 300ms;
}

.rightArrow {
  padding-left: 0.5rem;
}

.viewProjects:hover .rightArrow {
   animation: 750ms ease-in-out infinite normal bounce;
}

/* @keyframes bounce {
  0%, 100% { transform: translateX(0);}
  50% { transform: translateX(5px);}
} */