.homeContainer {
  max-width: 1520px;
  width: 100%;
  height: 85vh;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 4rem;
}

.hello {
  font-weight: var(--semi-bold);
  color: var(--yellow);
  font-family: var(--main-ff);
  line-height: 5rem;
}

.name {
  font-size: 4.5rem;
  font-weight: var(--light);
  font-family: var(--main-ff);
  letter-spacing: 10%;
  line-height: 5rem;
  text-transform: uppercase;
}

.rightArrow {
  padding-left: 0.5rem;
}

.roleIntro {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.role {
  margin-top: 4rem;
  font-size: 1.875rem;
  font-weight: var(--semi-bold);
  line-height: 2.5rem;
  font-family: var(--main-ff);
}

.jobLevel {
  padding-top: 5rem;
}

.description {
  font-family: var(--main-ff);
  font-size: 1rem;
  line-height: 1.75rem;
}

.homeIcons {
  display: flex;
  min-width: fit-content;
  align-self: flex-end;
  gap: 1rem;
  margin-top: 3.5rem;
}

.homeIcons img {
  max-height: 2rem;
  align-self: flex-end;
}
