button {
  font-family: inherit;
}
.cvBtn {
  color: var(--text-colour);
  height: 2.5rem;
  width: 5rem;
  font-weight: var(--semi-bold);
  border: none;
  border-radius: 6px;
  background-color: var(--purple-accent);
}

.viewProjects {
  height: 2.75rem;
  min-width: 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;

  color: var(--text-colour);
  border: none;
  background-color: transparent;
  border-bottom: 0.15rem solid var(--purple-accent);
}

.contactBtn {
  height: 2rem;
  max-width: 5rem;
  min-width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: var(--h3-ff);
  font-weight: var(--medium);

  color: var(--text-colour);
  border: none;
  background-color: transparent;
  border-bottom: 0.15rem solid var(--yellow);
}