button {
  font-family: inherit;
}

.contactBtn {
  height: 2rem;
  max-width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: var(--h3-ff);
  font-weight: var(--medium);

  color: var(--text-colour);
  border: none;
  background-color: transparent;
  border-bottom: 0.15rem solid var(--yellow);
  position: relative;
  cursor: pointer;
  transition: transform 300ms;
}

.contactBtn:hover,
.viewProjects:hover {
  transform: translateY(-0.15rem);
}