.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
 
    background-color: hsla(0, 0%, 50%, 0.2);
    overflow: hidden;
    transition: all 2s ease-in;
}

.cardContentImg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectImage {
    max-width: 100%;
    object-fit: cover;
    aspect-ratio: 1.44/1;
}