.cardContainer {
    min-height: 17.2rem;

    /* min-width: 17.8rem; */
    min-width: 8rem;
    max-width: 40.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
 
    background-color: hsla(0, 0%, 50%, 0.2);
    overflow: hidden;
}

.cardContentImg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectImage {
    max-width: 100%;
    object-fit: cover;
    aspect-ratio: 1.44/1;
}

.cardContents {
    padding: 0 4.5rem;
}
