.homeIcons {
  display: flex;
  min-width: fit-content;
  align-self: flex-end;
  gap: 1rem;
  margin-top: 3.25rem;
}

.homeIcons img {
  align-self: flex-end;
}

.iconContainer {
    display: flex;
}

.github:hover,
.linkedIn:hover {
  transform: scale(1.2);
  opacity: 100%;
}

.icons img {
    min-height: 2rem;
    max-height: 2rem;
    max-width: 100%;
    opacity: 95%;
    transition: transform 200ms ease-in-out, opacity 150ms ease-in-out;
}

.linkedInIcon {
    padding-left: 1rem;
}