.homeIcons {
  display: flex;
  min-width: fit-content;
  align-self: flex-end;
  gap: 1rem;
  margin-top: 3.25rem;
}

.homeIcons img {
  max-height: 2rem;
  align-self: flex-end;
}

.iconContainer {
    display: flex;
}

.github:hover,
.linkedIn:hover {
  scale: 1.2;
  opacity: 100%;
}

.icons img {
    min-height: 2rem;
    max-height: 2rem;
    max-width: 100%;
    opacity: 95%;
    transition: 150ms ease;
}

.linkedInIcon {
    padding-left: 1rem;
}