.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5rem 0;
}

.logo {
  font-family: "Adamina", serif;
  font-size: 1.5rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  font-family: var(--main-ff);
  font-size: 0.85rem;
}

.navList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.25rem;
}

.nav a {
  position: relative;
}

.nav a::after {
  content: '';
  position: absolute;
  height: 0.15rem;
  left: 0;
  bottom: -8px;
  width: 0;
  background: #eaeaea;
  transition: width 0.2s;
} 

.nav a:hover:after {
  width: 100%;
}

.cvBtn {
  border: none;
  border-radius: 6px;
  padding: 0.75rem;
  font-size: 0.85rem;
  font-weight: var(--semi-bold);
  background-color: var(--purple-accent);
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

.cvBtn:hover {
  transform: translateY(-0.15rem);
  background-color: var(--purple-accent-hover);
}
