.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5rem 0;
}

.logo {
  font-family: "Adamina", serif;
  font-size: clamp(1.2rem, 1.75vw, 1.5rem);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  font-family: var(--main-ff);
  font-size: 0.85rem;
}

.navList {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: clamp(1rem, 2.35vw, 2.25rem);
}

.nav a {
  position: relative;
}

.nav a::after {
  content: '';
  position: absolute;
  height: 0.15rem;
  left: 0;
  bottom: -8px;
  width: 0;
  background: #eaeaea;
  transition: width 0.2s;
} 

.nav a:hover:after {
  width: 100%;
}

@media (max-width: 768px) {

  .nav {
    justify-content: flex-end;
    align-self: flex-end;
  }

}