.nav {
  height: 5rem;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: "Raleway", sans-serif;
  color: var(--text-colour);
}

.logo {
  font-family: "Adamina", serif;
  font-size: 1.5rem;
}

.nav ul {
  display: flex;
  gap: 2.5rem;

  padding-left: 2rem;
  font-size: 0.85rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  position: relative;
}

.nav li {
  list-style: none;
  padding-bottom: 0.2rem;
}

.nav a::after {
  content: '';
  position: absolute;
  height: 0.15rem;
  left: 0;
  bottom: -8px;
  width: 0;
  background: #eaeaea;
  transition: width 0.2s;
}

.nav a:hover:after {
  width: 100%;
}