.pageTitleContainer {
    min-width: 9.375rem;
    min-height: 9.375rem;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    background-color: var(--coral-accent);
}

.pageTitle {
    font-family: var(--section-heading);
    font-size: 3.75rem;
    line-height: 3rem;
}