.pageTitleContainer {
    font-size: clamp(1.75rem, 2.6vw, 3.75rem);

    min-width: 3.78em;
    min-height: 3.75em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    background-color: var(--coral-accent);
}

.pageTitle {
    font-family: var(--section-heading);
    line-height: clamp(2rem, 4vw, 3rem);
}