.projectTitle {
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: var(--medium);
}

.tagContainer {
    display: flex;
    flex-wrap: wrap;
    width: clamp(20rem, 25vw, 22rem);
    gap: 1rem;
    margin: 2rem 0;
}

.projectDesc{
    line-height: 1.75rem;
    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;
    max-width: 80%;
    gap: 1.5rem;
}

@media (max-width: 768px) {
    .projectDesc {
        max-width: 90%;
        font-size: 0.85rem;
    }
}