.tagContainer {
    min-width: 25%;
    max-width: 65%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    margin: 2rem 0;
}

.tagWrapper {
    min-height: fit-content;
    min-width: fit-content;
    max-width: fit-content;

    background-color: var(--tag-colour);
    border-radius: 6px;
}

.tagText {
    color:  hsl(0, 0%, 85%);
    font-size: 0.8rem;
    font-weight: var(--reg);
    padding: 0.4rem 0.65rem;
}