.tagWrapper {
    background-color: var(--tag-colour);
    border-radius: 6px;
}

.tagText {
    color:  hsl(0, 0%, 85%);
    font-size: 0.8rem;
    font-weight: var(--reg);
    padding: 0.4rem 0.65rem;
}