.projectsContainer {
  min-height: 100vh;
  max-width: 100%;
  padding-bottom: 8rem;

}

.pageHeader {
  display: flex;
  justify-content: flex-start;
}

.projectPanel {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  justify-items: center;
  align-items: center;
  padding-top: 10%;
}

.projectInfoSection {
  max-width: 75%;
}