.projectsContainer {
  min-height: 100vh;
  max-width: 100%;
  padding-bottom: 8rem;

}

.pageHeader {
  display: flex;
  justify-content: flex-start;
}

.projectPanel {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  justify-items: center;
  align-items: center;
  gap: clamp(2rem, 2vw, 5rem);
  padding-top: clamp(3rem, 6vw, 6rem);
}

.projectInfoSection {
  max-width: 55ch;
}