:root {
  --navy-background: hsl(249, 49%, 12%);
  --yellow: hsl(40, 91%, 60%);
  --purple-accent: hsl(254, 86%, 59%);
  --purple-accent-hover: hsla(254, 86%, 59%, 0.9);
  --coral-accent: hsl(3, 100%, 64%);
  --text-colour: hsl(0, 0%, 92%);
  --tag-colour: hsla(254, 86%, 59%, 0.25);

  --light: 300;
  --reg: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;

  --section-heading: "Bebas Neue", sans-serif;
  --h3-ff: "Poppins", sans-serif;
  --main-ff: "RaleWay", sans-serif;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  color: var(--text-colour);
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  color: var(--text-colour);
  font-family: var(--main-ff);
  background-color: var(--navy-background);
  padding: 0 min(4rem, 8%);
}

.pageHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontalLine {
    height: 0.05rem;
    width: 100%;
    background-color: #ffff;
    margin-left: 5%;
}

.horizontalLineRight {
    height: 0.05rem;
    width: 100%;
    background-color: #ffff;
    margin-right: 5%;
}