:root {
  --navy-background: #1A1438;
  --yellow: #F6B93B;
  --purple-accent: #673EF1;
  --text-colour: #eaeaea;
  --tag-colour: rgba(192, 132, 252, 0.3);

  --secondary-header-size: 2.5rem;

  --reg: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-colour);
  font-family: "Raleway", "Poppins", "Arial", sans-serif;
  background-color: var(--navy-background);
}

.icons {
  width: 8rem;
  display: flex;
}

.github {
  padding-right: 1.5rem;
}

.linkedIn {
  height: 1.95rem;
}

.icons img {
  max-height: 2rem;
}